<article class="card" (click)="open.emit(photo())" tabindex="0" (keyup.enter)="open.emit(photo())" role="button" [attr.aria-label]="'View ' + photo().title">
  <div class="card__img-wrap">
    <img
      [src]="thumbnail(photo().driveId)"
      [alt]="photo().title"
      loading="lazy"
      decoding="async"
    />
    <div class="card__overlay">
      <span class="card__title">{{ photo().title }}</span>
      <div class="card__tags">
        @for (tag of photo().tags; track tag) {
          <span class="card__tag">{{ tag }}</span>
        }
      </div>
    </div>
  </div>
</article>
